// tablet
@media screen and (min-width: 480px) and (max-width: 1024px) {
	.product {
		position: relative;
		&__info {
			&__share {
				display: block;
				position: absolute;
				left: 20px;
				top: 70px;
				label {
					display: none;
				}
				.socials {
					padding: 0;
					display: block;
					width: auto;
					background-color: transparent;
					box-shadow: none;
					a {
						display: block;
						&:not(:last-child) {
							margin: 0 0 10px;
						}
					}
					&::before, &::after, span {
						display: none;
					}
				}

			}
			&__size {
				span {
					display: block;
					margin-right: 0;
				}
			}
		}
	}
	.other {
		&__title {
			text-align: center;
		}
		&__products {
			margin-top: 35px;
			.list__item {
				width: 48%;
				height: 285px;
				margin-bottom: 40px;
				a {
					background-size: cover;
				}
				&:nth-child(n) {
					margin-right: 4%;
				}
				&:nth-child(2n) {
					margin-right: 0;
				}
				.prices {
					background-color: rgba($bluish-green, .8);
					box-sizing: border-box;
					text-align: center;
					font-size: 22px;
					width: 100%;
					bottom: 0;
					&_old {
						display: none;
					}
				}
			}
		}
	}
}

// mobile
@media screen and (max-width: 480px) {
	body {
		padding: 0;
	}
	h1 {
		max-width: 60%;
		margin: 35px 40px 30px;
	}
	.product {
		> div {
			margin: 0 40px;
		}
		&__image {
			float: none;
			width: 100vw;
			margin-right: 0;
		}
		&__info {
			float: none;
			max-width: 100%;
			&__id {
				font-size: 12px;
				line-height: 42px;
			}
			&__description {
				font-size: 14px;
				line-height: 1.6;
				span {
					display: none;
				}
			}
			&__share {
				margin-top: 15px;
				label {
					display: none;
				}
				.socials {
					padding: 0;
					width: auto;
					background-color: transparent;
					position: relative;
					left: 0;
					top: 0;
					z-index: 10;
					box-shadow: none;
					display: block;
					&::before, &::after, span {
						display: none;
					}
				}
			}
			&__size {
				max-width: 90%;
				margin: 25px auto 0;
				text-align: center;
				span {
					margin-bottom: 10px;
					font-size: 20px;
					display: block;
				}
				label:not(:last-child) {
					margin: 0 2.5%;
				}
				input[type="submit"] {
					width: 100%;
					padding: 20px 0 15px;
				}
			}
		}
	}
	.other {
		&__title {
			text-align: center;
		}
		&__products {
			margin-top: 20px;
			position: relative;
			button {
				display: block;
				position: absolute;
				width: 30px;
				height: 50px;
				top: calc(50% - 25px);
				border: none;
				background-color: transparent;
				background-repeat: no-repeat;
				background-image: url('../images/arrows.png');
				outline: none;
				&#previous {
					left: 5%;
					background-position: -45px -5px;
				}
				&#next {
					right: 5%;
					background-position: -5px -5px;
				}
			}
			.list {
				width: 70%;
				height: 265px;
				overflow: hidden;
				position: relative;
				&__item {
					width: 100%;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					opacity: 0;
					transition: opacity 1s;
					&.showing {
						opacity: 1;
						z-index: 2;
					}
					a {
						background-size: cover;
					}
					.prices {
						background-color: rgba($bluish-green, .8);
						box-sizing: border-box;
						text-align: center;
						font-size: 22px;
						width: 100%;
						bottom: 0;
						&_old {
							display: none;
						}
					}
				}
			}
		}
	}
}